/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.modal-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../partials/images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

/** 
 * Anytime the body has the loading class,
 * our modal element will be visible
 */
body.loading .modal-loader {
    display: block;
}            

.textbox-token {
    font-size : 24pt;
    width : 60%;
    height : 50px;
    margin: auto;
}

.form-center-top {
    text-align : center;
    margin-top : 15%;
}

.details-center-top {
    margin-left : 15%;
    margin-top : 5%;
}

.image-padding {
    width: 725px;
    padding-top : 15px;
    padding-bottom : 15px
}

.widget-iframe-modal {
	margin-top: 13px;
	margin-left: 13%;
}

.iframe-view {
    position: static;
    left: 78px;
    top: 50px;
    display: block;
	width: 90%;
    height: 85%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 30px none #000;
	background-color: #cccccc;
}

.iframe-modal-actions {
	width: 270px;
	height: 420px;
	padding-right: 0px;
	padding-left: 0px;
}

.number-inputs {
	width: 70px;
	font-size: 14pt;
}

.number-labels {
	padding-left: 10px;
	padding-top: 2px;
}

.shortcode {
    font-size: 13pt;
    text-decoration: none;
    color: #000;
}

.input-color {
    border-radius: 3px;
}

.button-widget-labels {
    padding-top: 9px;
    font-weight: bold;
}

.widget-code {
    display: none;
}

.button-widget-preview {
    margin-top: 10px;
    padding-top: 10px;
    height: 90px;
    text-align: center;
    border: solid #e1e1e1;
}

.loader {
    margin: auto;
    width: 30px;
}

/* --- Material Switch --- */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* --- Mac Wrapper --- */
.mac-wrapper {
    width: 100%;
    height: 61vh;
    margin: 10px;
    padding-left: 0px;
    border-style: solid;
    border-width: 4px 4px 0px;
    border-color: #d8d8d8 ;
    border-radius: 25px 25px 5px 5px;
    background-color: #000000 ;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}
